/*.header,.footer{
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #fff;
  background: gray;
}*/
ul { list-style:none; 
}
li { list-style:none; 
}
<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        /*background-attachment: fixed;*/
        background-color: #FFAF60;
        overflow: hidden
      }
      h3{
        color:#4A4AFF;
        font-family:Microsoft JhengHei;
      }
      #sitebody{
　     width:600px;
　     margin:0 auto;
　     font-size:13px;
      }


      #top {
        background-color: #FFAF60;
        height: 5%;
      }
      #filter {
        background-color: #FF7744;
        height: 30px;
        width:100%;
        font-family:Microsoft JhengHei;
        color:#FFFFFF;
        text-align:left;
      }
      #map {
        height:90%;
        width: 70%;  
        margin:0 auto;
        float:center;
      }
      #sidebar-left {
        overflow-y: scroll;
        overflow-x: scroll;
        /*background-color:#E38EFF;*/

        border-style:outset;
        height: 90%;
        width: 25%;
        float:left;
        font-family:Microsoft JhengHei;
        font-size:12px;
      }
     
      #fr{
       border-style:none;
       width: 100%;
       float:center;
       border-bottom: 1px solid #d2d2d2;
       list-style-type:none;
       color:blue;
      }
      #fr2{
       border-style:none;
       width: 95%;
       float:center;
       margin:0px auto;
       list-style-type:none;
       color:black;
       
      }

      #favorite {
        background-color: transparent;
        border: none;
         outline:none;
      }

      #res_detail{
        color:black;
      }

      #opening_hours1{
        font-family:Microsoft JhengHei;
        font-size:15px;
       
        width: 100px;
        border-color:#FF7744;

       }
      
      #sidebar-left::-webkit-scrollbar-track
        {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          background-color: #F5F5F5;
        }

        #sidebar-left::-webkit-scrollbar
        {
          width: 10px;
          background-color: #F5F5F5;
        }

        #sidebar-left::-webkit-scrollbar-thumb
        {
          background-color: #F90; 
          background-image: -webkit-linear-gradient(45deg,
                                                    rgba(255, 255, 255, .2) 25%,
                                transparent 25%,
                                transparent 50%,
                                rgba(255, 255, 255, .2) 50%,
                                rgba(255, 255, 255, .2) 75%,
                                transparent 75%,
                                transparent)
        }

      #res{
        font-family:Microsoft JhengHei;
      }

        #btnLogout{
          float:right;
          -webkit-border-radius: 7;
          -moz-border-radius: 7;
          border-radius:9px;
          font-family: Arial;
          color: #ffffff;
          font-size: 9px;
          background: #3b5998;
          /*padding: 7px 10px 7px 10px;*/
          text-decoration: none;
        }

    #btnLogout:hover {
        background: #6d84b4;
        text-decoration: none;
      }
        


      .header{
        width:100%;
        height:50px;
        background-color: #FFAF60;


      }
     

      .headerfont{
        border-style: 0px solid;
        border-color:#FFAF60;
        font-size:17px;
        font-family:Microsoft JhengHei;
        color:#FFFFFF;
        float: right;
        width:100px;
        height:50px;
        text-align:center;
        line-height:50px;
      }
       .headertitle{
        border-style: 0px solid;
        border-color:#FFAF60;
        font-size:30px;
        font-family:Microsoft JhengHei;
        color:#FFFFFF;
        float: left;
        
        height:50px;
        text-align:center;
        line-height:50px;
      }
      .headerfont:hover{background:#F75000;}
      
      .gmnoprint{
          border-top-style: 3px solid ;
        }


      .chcolor:hover{background:#F0F0F0;}

      .clearfix{color:#5555FF}

      a {
         text-decoration:none;
      }
      button {
        background-color: transparent;
        border: none;
        outline:none;
      }
</style>


