<div class='loginpage'>
  <ul id="list"></ul>
  <!--<fb:login-button scope="public_profile,email" id="fblogin" onlogin="checkLoginState();">
  <fb:login-/button>  -->
 
 <table width="20%"  >
 
 <td width="10%" ><div  style="width:150px;
      height:100px;
      border:1px solid #000;
      vertical-align: middle;"><fb:login-button scope="public_profile,email" id="fblogin" data-max-rows="5" data-size="xlarge" onlogin="checkLoginState();">
 </fb:login-button></div></td>
				
 
 </table>
  <div id="status">
  </div>
</div>
<script>
  jQuery(document).ready(function($) {
   
  });
</script>
<script type="text/javascript" src="assets/js/login.js"></script>
