<ul id="list"></ul>
<!--<fb:login-button scope="public_profile,email" id="fblogin" onlogin="checkLoginState();">
<fb:login-/button>  -->
<fb:login-button scope="public_profile,email" id="fblogin" onlogin="checkLoginState();">123
<fb:login-/button>

<div id="status">
</div>
<script type="text/javascript" src="assets/js/login.js"></script>
<script>
  jQuery(document).ready(function($) {
   
  });
  
</script>
