<div class='loginpage'>
  <ul id="list"></ul>
  <!--<fb:login-button scope="public_profile,email" id="fblogin" onlogin="checkLoginState();">
  <fb:login-/button>  -->
 
 <div>
 style{
  vertical-align: middle;}
 <fb:login-button scope="public_profile,email" id="fblogin" data-max-rows="5" data-size="xlarge" onlogin="checkLoginState();">
 </fb:login-button></div>
  <div id="status">
  </div>
</div>
<script>
  jQuery(document).ready(function($) {
   
  });

</script>
<script type="text/javascript" src="assets/js/login.js"></script>
