<div class='loginpage'>
  <ul id="list"></ul>
  <!--<fb:login-button scope="public_profile,email" id="fblogin" onlogin="checkLoginState();">
  <fb:login-/button>  -->
 
 <style>
	.box {
    width:300px;
    background-color:;
    position:fixed;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:50%;
    left:50%;
}
</style>
<table  class="box" ;">
 <td><div  style="width:300px; 
      height:35px; 
      border:1px solid #000;
      text-align: center;
      vertical-align: middle;"><fb:login-button scope="public_profile,email" id="fblogin" data-max-rows="5" data-size="xlarge" onlogin="checkLoginState();">
 </fb:login-button></div></td>
				
 
 </table>
  <div id="status">
  </div>
</div>
<script>
  jQuery(document).ready(function($) {
   
  });
</script>
<script type="text/javascript" src="assets/js/login.js"></script>
